<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>Demo.Ndjson.AsyncStreams.Blazor.WebAssembly</PageTitle>
        <p role="alert">-- Demo.Ndjson.AsyncStreams.Blazor.WebAssembly --</p>
    </NotFound>
</Router>
